// Basic Styles
html, body {
  height: 100%;
}

ul{
  
}

h2 {
  font-weight: bold;
  margin-bottom: 32px;
  font-size: 24px;
}
// Select Menu & Input Fields
.vd-field {
    margin-bottom: 20px;
}
.vd-label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.vd-select-container {
    position: relative;
    width: 20%;
    display: block;
    border-radius: 3px;
 
}

.vd-select {
    border: 1px solid #D7D7D7;
    padding: 12px;
    padding-right: 36px;
    border-radius: 3px;
    font-family: lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-
}

.vd-input {
    box-sizing: border-box;
    font-family: lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    width: 100%;
    padding: 12px;
    box-shadow: none;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    outline: none;
    background-color: #FFFFFF;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-property: border-color, box-shadow;
    transition-property: border-color, box-shadow;
}
.vd-date {
    // display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
  
    font-family: lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

// Buttons
button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 48px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
.vd-button-small {

  font-size: 15px;
  -webkit-font-smoothing: auto;
  font-weight: 300;
  background-color: #44B773;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #FFFFFF;
  min-width: 150px;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
  margin: 4px;
  -webkit-font-smoothing: auto;
}

.vd-color-primary {
  background-color: #44B773;
  width: 100px;
  
}

.vd-color-secondary {
  background-color: #446A81;
   width: 100px;
  transparent: light;
}



.vend-iframe {
  width: 600px;
  height: 400px;
  background-color: grey;
  border-radius: 5px;
  margin: 5% auto;
}
.vd-header {
  display: flex;
  justify-content: space-between;
}

.vd-modal-bottom {
  display: flex;
  justify-content: flex-end;
}
.vd-button-sized {
	border: 3px;
	width: 400px;
	height: 600px;
}



.month-box {
  height:20px;
  width:50px;
  background: green;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  }
.month-flex {
  display: flex;
  height: 200px;
  width: 500px; 
  flex-flow: row wrap; 
  border: solid 1px #000; 
  justify-content: center; 
  align-content: center; 
  margin: 0px; 
}
